<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot.FinalProject.dao.IOrderDAO">
    <!-- 예약상품 저장 -->
    <insert id="insertRsv" parameterType="com.spring_boot.FinalProject.model.OrderVO">
        INSERT INTO orderproduct
        	   (userId, stayNo, manCnt, petCnt, rcvPhone, rcvName, 
         		rcvEmail, roomPrice, discount, period, periodDay, roomType)
        VALUES (#{userId}, #{stayNo}, #{manCnt}, #{petCnt}, #{rcvPhone}, #{rcvName}, 
        	    #{rcvEmail}, #{roomPrice}, #{discount}, #{period}, #{periodDay}, #{roomType})
    </insert>

    <!-- 장바구니 저장 -->
    <insert id="insertCart" parameterType="com.spring_boot.FinalProject.model.CartVO">
        INSERT into cart
        	   (userId, period, price, stayNo, cartQty)
        VALUES (#{userId}, #{period}, #{price}, #{stayNo}, 1)
    </insert>

    <insert id="insertOrder" parameterType="java.util.List">
        INSERT into orderinfo
        (ordQty, payment, price, payDate, stayNo,userId,regId,period,startDate,endDate)
        values
        <foreach collection="list" item="item" separator=",">
            (
            <if test='item.stayNo != 0'>
                1
                , 1
                , #{item.price}
                , NOW()
                , #{item.stayNo}
                , #{item.userId}
                ,null
                , #{item.period}
                ,#{item.startDate}
                ,#{item.endDate}
            </if>
            <if test='item.regId != 0'>
                1
                , 1
                , #{item.price}
                , NOW()
                ,null
                , #{item.userId}
                , #{item.regId}
                , #{item.period}
                ,#{item.startDate}
                ,#{item.endDate}
            </if>
            )
        </foreach>
    </insert>

    <!-- 장바구니 등록 -->
    <select id="selectCartByUserId" parameterType="String" resultType="com.spring_boot.FinalProject.model.CartVO">
        SELECT c.cartId, s.stayNo, s.stayName, c.price, c.period
          FROM cart c
          JOIN stay s ON c.stayNo = s.stayNo
         WHERE c.userId = #{userId}
    </select>

    <!-- 장바구니 삭제 -->
    <delete id="deleteCarts" parameterType="java.util.List">
        DELETE FROM cart
        <where>
            <foreach collection="list" item="cartId" open="" close="" separator="OR">
                cartId = #{cartId}
            </foreach>
        </where>

    </delete>

    <!-- 이용내역-->
    <select id="selectReservation" parameterType="String" resultType="com.spring_boot.FinalProject.model.OrderInfoVO">
        SELECT o.*, s.stayName as name
          FROM orderinfo o
          JOIN stay s on o.stayNo = s.stayNo
         WHERE o.userId = #{userId} 
           AND o.endDate >= date_format(NOW(),'%Y-%m-%d')
    </select>


</mapper>